*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #2b2b31; }

.btnPage {
  background-image: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1rem 2.5rem;
  margin-left: 2.5rem;
  opacity: 0.85;
  text-transform: uppercase;
  box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5);
  border: 1px solid #ff577b;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s; }
  .btnPage:hover {
    opacity: 1;
    color: #fff; }
  .btnPage:active {
    background-image: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%) !important; }

.searchBox {
  width: 100%;
  border-top: 1px solid #b9b9bb; }
  .searchBox .searchBox__content {
    background-color: #28282d;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    height: 6rem; }
    .searchBox .searchBox__content #txtSearch {
      width: 100%;
      border: none;
      outline: none;
      height: 6rem;
      background-color: transparent;
      color: #fff;
      font-size: 1.5rem;
      font-weight: 500;
      padding-left: 2.5rem;
      padding-right: 13rem; }
    .searchBox .searchBox__content .btnSearch {
      margin: 1rem 1.5rem;
      padding: 0.5rem 2.5rem !important;
      display: inline-block;
      margin-left: 0; }

#header {
  background-color: #2b2b31;
  height: 9rem;
  width: 100%;
  box-shadow: 0 10px 10px #28282d;
  z-index: 2; }
  #header .header__nav {
    display: flex;
    justify-content: space-between;
    line-height: 9rem;
    height: 9rem; }
    #header .header__nav .header__nav-left {
      display: flex; }
      #header .header__nav .header__nav-left .header__nav-logo {
        width: 24rem;
        height: 9rem;
        text-align: center;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        background-color: #28282d; }
        #header .header__nav .header__nav-left .header__nav-logo img {
          background-color: transparent; }
        #header .header__nav .header__nav-left .header__nav-logo:hover {
          background-color: #2b2b31; }
      #header .header__nav .header__nav-left .header__nav-list {
        display: flex;
        margin-left: 2.5rem; }
        #header .header__nav .header__nav-left .header__nav-list .header__nav-item {
          margin: 0 2.5rem; }
          #header .header__nav .header__nav-left .header__nav-list .header__nav-item .header__nav-link {
            text-transform: uppercase;
            color: #b9b9bb;
            font-size: 1.5rem;
            font-weight: 300;
            text-decoration: none;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -ms-transition: all 0.5s;
            -o-transition: all 0.5s; }
            #header .header__nav .header__nav-left .header__nav-list .header__nav-item .header__nav-link:hover {
              color: #ff577b; }
      #header .header__nav .header__nav-left .active {
        color: #ff577b !important; }
    #header .header__nav .header__nav-right {
      display: flex;
      align-items: center; }
      #header .header__nav .header__nav-right .header__nav-btnSearch {
        color: #b9b9bb;
        font-size: 3rem;
        font-weight: 300;
        text-decoration: none;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        margin-right: 2.5rem; }
        #header .header__nav .header__nav-right .header__nav-btnSearch:hover {
          color: #fff; }
      #header .header__nav .header__nav-right .header__nav-btnSinIn span, #header .header__nav .header__nav-right .header__nav-btnSinIn i {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 1.5rem;
        background-color: transparent; }

/*# sourceMappingURL=main.css.map */
