$colorPink : #ff577b;
$colorDark : #28282d;
$colorBg : #2b2b31;
$colorText : #b9b9bb;
$colorWhite : #fff;
$colorPinkGadient:linear-gradient(90deg,#ff55a5 0%, #ff5860 100%);

$pd-130 :13rem;
$pd-85 : 8.5rem;
$pd-50 : 5rem;
$pd-45 : 4.5rem;
$pd-40 : 4rem;
$pd-25 : 2.5rem;
$pd-15 : 1.5rem;
$pd-10 : 1rem;
$pd-05 : 0.5rem;


$mg-25 : 2.5rem;
$mg-15 : 1.5rem;
$mg-10 : 1rem;

$fs-15 : 1.5rem;
$fs-20: 2rem;
$fs-30 : 3rem;

$xs : 576px;
$sm : 768px;
$md : 992px;
$lg : 1200px;
